# CSV-Datei importieren

In [1]:
import pandas as pd
import numpy as np

In [2]:
rolling_sales_df = pd.read_csv("data/nyc-rolling-sales.csv")

print(rolling_sales_df)

       Unnamed: 0  BOROUGH   NEIGHBORHOOD  \
0               4        1  ALPHABET CITY
1               5        1  ALPHABET CITY
2               6        1  ALPHABET CITY
3               7        1  ALPHABET CITY
4               8        1  ALPHABET CITY
...           ...      ...            ...
84543        8409        5        WOODROW
84544        8410        5        WOODROW
84545        8411        5        WOODROW
84546        8412        5        WOODROW
84547        8413        5        WOODROW

                           BUILDING CLASS CATEGORY TAX CLASS AT PRESENT  \
0      07 RENTALS - WALKUP APARTMENTS                                2A
1      07 RENTALS - WALKUP APARTMENTS                                 2
2      07 RENTALS - WALKUP APARTMENTS                                 2
3      07 RENTALS - WALKUP APARTMENTS                                2B
4      07 RENTALS - WALKUP APARTMENTS                                2A
...                                            ...                  ...
84543  02 TWO FAMILY DWELLINGS                                        1
84544  02 TWO FAMILY DWELLINGS                                        1
84545  02 TWO FAMILY DWELLINGS                                        1
84546  22 STORE BUILDINGS                                             4
84547  35 INDOOR PUBLIC AND CULTURAL FACILITIES                       4

       BLOCK  LOT EASE-MENT BUILDING CLASS AT PRESENT                 ADDRESS  \
0        392    6                                  C2            153 AVENUE B
1        399   26                                  C7   234 EAST 4TH   STREET
2        399   39                                  C7   197 EAST 3RD   STREET
3        402   21                                  C4     154 EAST 7TH STREET
4        404   55                                  C2  301 EAST 10TH   STREET
...      ...  ...       ...                       ...                     ...
84543   7349   34                                  B9           37 QUAIL LANE
84544   7349   78                                  B9        32 PHEASANT LANE
84545   7351   60                                  B2        49 PITNEY AVENUE
84546   7100   28                                  K6   2730 ARTHUR KILL ROAD
84547   7105  679                                  P9       155 CLAY PIT ROAD

       ... RESIDENTIAL UNITS  COMMERCIAL UNITS  TOTAL UNITS  LAND SQUARE FEET  \
0      ...                 5                 0            5              1633
1      ...                28                 3           31              4616
2      ...                16                 1           17              2212
3      ...                10                 0           10              2272
4      ...                 6                 0            6              2369
...    ...               ...               ...          ...               ...
84543  ...                 2                 0            2              2400
84544  ...                 2                 0            2              2498
84545  ...                 2                 0            2              4000
84546  ...                 0                 7            7            208033
84547  ...                 0                 1            1             10796

       GROSS SQUARE FEET YEAR BUILT TAX CLASS AT TIME OF SALE  \
0                   6440       1900                         2
1                  18690       1900                         2
2                   7803       1900                         2
3                   6794       1913                         2
4                   4615       1900                         2
...                  ...        ...                       ...
84543               2575       1998                         1
84544               2377       1998                         1
84545               1496       1925                         1
84546              64117       2001                         4
84547               2400       2006                         4

       BUILDING CLASS AT TIME OF SALE  SALE PRICE            SALE DATE
0                                  C2     6625000  2017-07-19 00:00:00
1                                  C7         -    2016-12-14 00:00:00
2                                  C7         -    2016-12-09 00:00:00
3                                  C4     3936272  2016-09-23 00:00:00
4                                  C2     8000000  2016-11-17 00:00:00
...                               ...         ...                  ...
84543                              B9      450000  2016-11-28 00:00:00
84544                              B9      550000  2017-04-21 00:00:00
84545                              B2      460000  2017-07-05 00:00:00
84546                              K6    11693337  2016-12-21 00:00:00
84547                              P9       69300  2016-10-27 00:00:00

[84548 rows x 22 columns]

## Alle Spalten anzeigen

In [3]:
pd.options.display.max_columns = None 
display(rolling_sales_df)

,Unnamed: 0,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,,10009,5,0,5,1633,6440,1900,2,C2,6625000,2017-07-19 00:00:00
1,5,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,,C7,234 EAST 4TH STREET,,10009,28,3,31,4616,18690,1900,2,C7,-,2016-12-14 00:00:00
2,6,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,39,,C7,197 EAST 3RD STREET,,10009,16,1,17,2212,7803,1900,2,C7,-,2016-12-09 00:00:00
3,7,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,,C4,154 EAST 7TH STREET,,10009,10,0,10,2272,6794,1913,2,C4,3936272,2016-09-23 00:00:00
4,8,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,,C2,301 EAST 10TH STREET,,10009,6,0,6,2369,4615,1900,2,C2,8000000,2016-11-17 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84543,8409,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7349,34,,B9,37 QUAIL LANE,,10309,2,0,2,2400,2575,1998,1,B9,450000,2016-11-28 00:00:00
84544,8410,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7349,78,,B9,32 PHEASANT LANE,,10309,2,0,2,2498,2377,1998,1,B9,550000,2017-04-21 00:00:00
84545,8411,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7351,60,,B2,49 PITNEY AVENUE,,10309,2,0,2,4000,1496,1925,1,B2,460000,2017-07-05 00:00:00
84546,8412,5,WOODROW,22 STORE BUILDINGS,4,7100,28,,K6,2730 ARTHUR KILL ROAD,,10309,0,7,7,208033,64117,2001,4,K6,11693337,2016-12-21 00:00:00
84547,8413,5,WOODROW,35 INDOOR PUBLIC AND CULTURAL FACILITIES,4,7105,679,,P9,155 CLAY PIT ROAD,,10309,0,1,1,10796,2400,2006,4,P9,69300,2016-10-27 00:00:00

## Anzahl der Verkäufe

In [4]:
N = len(rolling_sales_df)
print("Es wurden", N,"Verkäufe verzeichnet.")

Es wurden 84548 Verkäufe verzeichnet.

In [5]:
rolling_sales_df.head() #Erste 5 Zeilen anzeigen für die Übersichtlichkeit

,Unnamed: 0,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,,10009,5,0,5,1633,6440,1900,2,C2,6625000,2017-07-19 00:00:00
1,5,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,,C7,234 EAST 4TH STREET,,10009,28,3,31,4616,18690,1900,2,C7,-,2016-12-14 00:00:00
2,6,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,39,,C7,197 EAST 3RD STREET,,10009,16,1,17,2212,7803,1900,2,C7,-,2016-12-09 00:00:00
3,7,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,,C4,154 EAST 7TH STREET,,10009,10,0,10,2272,6794,1913,2,C4,3936272,2016-09-23 00:00:00
4,8,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,,C2,301 EAST 10TH STREET,,10009,6,0,6,2369,4615,1900,2,C2,8000000,2016-11-17 00:00:00

# Datentypen anzeigen

In [6]:
rolling_sales_df.dtypes

Unnamed: 0                         int64
BOROUGH                            int64
NEIGHBORHOOD                      object
BUILDING CLASS CATEGORY           object
TAX CLASS AT PRESENT              object
BLOCK                              int64
LOT                                int64
EASE-MENT                         object
BUILDING CLASS AT PRESENT         object
ADDRESS                           object
APARTMENT NUMBER                  object
ZIP CODE                           int64
RESIDENTIAL UNITS                  int64
COMMERCIAL UNITS                   int64
TOTAL UNITS                        int64
LAND SQUARE FEET                  object
GROSS SQUARE FEET                 object
YEAR BUILT                         int64
TAX CLASS AT TIME OF SALE          int64
BUILDING CLASS AT TIME OF SALE    object
SALE PRICE                        object
SALE DATE                         object
dtype: object

# Anzahl verschiedener Werte jeder einzelnen Spalte

In [7]:
rolling_sales_df.apply(lambda x: len(x.unique()))

Unnamed: 0                        26736
BOROUGH                               5
NEIGHBORHOOD                        254
BUILDING CLASS CATEGORY              47
TAX CLASS AT PRESENT                 11
BLOCK                             11566
LOT                                2627
EASE-MENT                             1
BUILDING CLASS AT PRESENT           167
ADDRESS                           67563
APARTMENT NUMBER                   3989
ZIP CODE                            186
RESIDENTIAL UNITS                   176
COMMERCIAL UNITS                     55
TOTAL UNITS                         192
LAND SQUARE FEET                   6062
GROSS SQUARE FEET                  5691
YEAR BUILT                          158
TAX CLASS AT TIME OF SALE             4
BUILDING CLASS AT TIME OF SALE      166
SALE PRICE                        10008
SALE DATE                           364
dtype: int64

# Neighborhood

## Wie viele unterschiedliche Neighborhoods gibt es?

In [8]:
# 254
# Neighborhood = Nachbarschaft/Region/Stadtteil

neighborhood_df = rolling_sales_df['NEIGHBORHOOD'].value_counts()
print(neighborhood_df)

FLUSHING-NORTH              3068
UPPER EAST SIDE (59-79)     1736
UPPER EAST SIDE (79-96)     1590
UPPER WEST SIDE (59-79)     1439
BEDFORD STUYVESANT          1436
                            ...
VAN CORTLANDT PARK             2
EAST RIVER                     1
BRONX PARK                     1
PELHAM BAY                     1
CITY ISLAND-PELHAM STRIP       1
Name: NEIGHBORHOOD, Length: 254, dtype: int64

In [9]:
neighborhood0 = len(rolling_sales_df[rolling_sales_df["NEIGHBORHOOD"] == " "])
print(neighborhood0)

# keine leeren Zellen

0

## Top 5/Last 5 Neighborhoods

In [10]:
neighborhood_top5 = rolling_sales_df['NEIGHBORHOOD'].value_counts()
print(neighborhood_top5.nlargest(5))

FLUSHING-NORTH             3068
UPPER EAST SIDE (59-79)    1736
UPPER EAST SIDE (79-96)    1590
UPPER WEST SIDE (59-79)    1439
BEDFORD STUYVESANT         1436
Name: NEIGHBORHOOD, dtype: int64

In [11]:
neighborhood_last5 = rolling_sales_df['NEIGHBORHOOD'].value_counts()
print(neighborhood_last5.nsmallest(10))

EAST RIVER                  1
BRONX PARK                  1
PELHAM BAY                  1
CITY ISLAND-PELHAM STRIP    1
FRESH KILLS                 2
VAN CORTLANDT PARK          2
CO-OP CITY                  5
DONGAN HILLS-OLD TOWN       5
ROSSVILLE-PORT MOBIL        6
AIRPORT LA GUARDIA          8
Name: NEIGHBORHOOD, dtype: int64

# Building Class Category

In [12]:
# Immobilienart (z.B. Einfamilienhaus)

## Welche Immobilienarten gibt es und wie oft kommen Sie vor?

In [13]:
print("Summary:", rolling_sales_df["BUILDING CLASS CATEGORY"].describe())

Summary: count                                           84548
unique                                             47
top       01 ONE FAMILY DWELLINGS
freq                                            18235
Name: BUILDING CLASS CATEGORY, dtype: object

In [14]:
buildingclass_df = rolling_sales_df['BUILDING CLASS CATEGORY'].value_counts()
print(buildingclass_df.nlargest(5))

01 ONE FAMILY DWELLINGS                        18235
02 TWO FAMILY DWELLINGS                        15828
13 CONDOS - ELEVATOR APARTMENTS                12989
10 COOPS - ELEVATOR APARTMENTS                 12902
03 THREE FAMILY DWELLINGS                       4384
Name: BUILDING CLASS CATEGORY, dtype: int64

# Tax Classes

In [15]:
# Steuerklassen:
# - Klasse 1: Umfasst die meisten Wohneigentumsbestände mit bis zu drei Einheiten (wie Ein-, Zwei- und Dreifamilienhäuser und kleine Geschäfte oder Büros mit einer oder zwei angeschlossenen Wohnungen), leere Grundstücke, die für Wohnzwecke in Zonen eingeteilt sind, und die meisten Eigentumswohnungen, die nicht mehr als drei Stockwerke haben.   

# - Klasse 2: Umfasst alle anderen Immobilien, die hauptsächlich Wohnzwecken dienen, wie Genossenschaften und Eigentumswohnungen.   

# - Klasse 3: Umfasst Immobilien mit Geräten, die einem Gas-, Telefon- oder Elektrizitätsunternehmen gehören.   

# - Klasse 4: Umfasst alle anderen Immobilien, die nicht in den Klassen 1, 2 und 3 enthalten sind, wie z.B. Büros, Fabriken, Lagerhäuser, Garagengebäude usw. 
    
tax_classes = rolling_sales_df['TAX CLASS AT PRESENT'].value_counts()
print(tax_classes)

1     38633
2     30919
4      6140
2A     2521
2C     1915
1A     1444
1B     1234
2B      814
        738
1C      186
3         4
Name: TAX CLASS AT PRESENT, dtype: int64

## Tax Class 1

In [16]:
taxclass1 = len(rolling_sales_df[rolling_sales_df["TAX CLASS AT PRESENT"] == "1"])
taxclass1A = len(rolling_sales_df[rolling_sales_df["TAX CLASS AT PRESENT"] == "1A"])
taxclass1B = len(rolling_sales_df[rolling_sales_df["TAX CLASS AT PRESENT"] == "1B"])
taxclass1C = len(rolling_sales_df[rolling_sales_df["TAX CLASS AT PRESENT"] == "1C"])
taxclass1gesamt = taxclass1 + taxclass1A + taxclass1B + taxclass1C
taxclass1proz = taxclass1gesamt/N*100
print(taxclass1gesamt)
print(int(taxclass1proz), "%")
print(int(taxclass1proz), "% der Verkäufe (=", taxclass1gesamt, "), sind Ein-, Zwei- und/oder Dreifamilienhäuser.")

41497
49 %
49 % der Verkäufe (= 41497 ), sind Ein-, Zwei- und/oder Dreifamilienhäuser.

## Tax Class 2

In [17]:
taxclass2 = len(rolling_sales_df[rolling_sales_df["TAX CLASS AT PRESENT"] == "2"])
taxclass2A = len(rolling_sales_df[rolling_sales_df["TAX CLASS AT PRESENT"] == "2A"])
taxclass2B = len(rolling_sales_df[rolling_sales_df["TAX CLASS AT PRESENT"] == "2B"])
taxclass2C = len(rolling_sales_df[rolling_sales_df["TAX CLASS AT PRESENT"] == "2C"])
taxclass2gesamt = taxclass2 + taxclass2A + taxclass2B + taxclass2C
taxclass2proz = taxclass2gesamt/N*100
print(taxclass2gesamt)
print(int(taxclass2proz), "%")
print(int(taxclass2proz), "% der Verkäufe (=", taxclass2gesamt, "), sind Immobilien, die hauptsächlich Wohnzwecken dienen, wie Genossenschaften und Eigentumswohnungen.")

36169
42 %
42 % der Verkäufe (= 36169 ), sind Immobilien, die hauptsächlich Wohnzwecken dienen, wie Genossenschaften und Eigentumswohnungen.

## Tax Class 3

In [18]:
taxclass3 = len(rolling_sales_df[rolling_sales_df["TAX CLASS AT PRESENT"] == "3"])
taxclass3proz = taxclass3/N*100
print(taxclass3)
print(int(taxclass3proz), "%")
print("Weniger als 1% (=", taxclass3, ") der Verkäufe umfasst Immobilien mit Geräten, die einem Gas-, Telefon- oder Elektrizitätsunternehmen gehören.")

4
0 %
Weniger als 1% (= 4 ) der Verkäufe umfasst Immobilien mit Geräten, die einem Gas-, Telefon- oder Elektrizitätsunternehmen gehören.

## Tax Class 4

In [19]:
taxclass4 = len(rolling_sales_df[rolling_sales_df["TAX CLASS AT PRESENT"] == "4"])
taxclass4proz = taxclass4/N*100
print(taxclass4)
print(int(taxclass4proz), "%")
print(int(taxclass4proz), "% der Verkäufe (=", taxclass4, "), umfasst alle anderen Immobilien, die nicht in den Klassen 1, 2 und 3 enthalten sind, wie z.B. Büros, Fabriken, Lagerhäuser, Garagengebäude usw.")

6140
7 %
7 % der Verkäufe (= 6140 ), umfasst alle anderen Immobilien, die nicht in den Klassen 1, 2 und 3 enthalten sind, wie z.B. Büros, Fabriken, Lagerhäuser, Garagengebäude usw.

## Ohne Tax Class

In [20]:
taxclass0 = len(rolling_sales_df[rolling_sales_df["TAX CLASS AT PRESENT"] == " "])
print(taxclass0)
print(taxclass0, "Datensätze sind ohne Tax Class versehen.")

738
738 Datensätze sind ohne Tax Class versehen.

# Baujahr (Year Built)

In [21]:
print("Summary:", rolling_sales_df["YEAR BUILT"].describe())

Summary: count    84548.000000
mean      1789.322976
std        537.344993
min          0.000000
25%       1920.000000
50%       1940.000000
75%       1965.000000
max       2017.000000
Name: YEAR BUILT, dtype: float64

## Ohne Jahr

In [22]:
yearbuilt_without = len(rolling_sales_df[rolling_sales_df["YEAR BUILT"] == ""])
print(yearbuilt_without)

0

C:\Users\Dome\Anaconda3\lib\site-packages\pandas\core\ops\__init__.py:1115: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

In [23]:
rolling_sales_df['YEAR BUILT'] = rolling_sales_df['YEAR BUILT'].replace(np.nan, 0)

yearbuilt_ohneJahr = len(rolling_sales_df[rolling_sales_df["YEAR BUILT"] == 0])
print(yearbuilt_ohneJahr)

6970

## Wie viele unterschiedliche Baujahre gibt es?

In [24]:
yearbuilt = rolling_sales_df.groupby(['YEAR BUILT']).size()
print(yearbuilt)

# 158 unterschiedliche Baujahre

YEAR BUILT
0       6970
1111       1
1680       1
1800      37
1826       1
        ...
2013     743
2014    1232
2015    1470
2016     794
2017       6
Length: 158, dtype: int64

In [25]:
yearbuilt_top = rolling_sales_df['YEAR BUILT'].value_counts()
print(yearbuilt_top.nlargest(5))

0       6970
1920    6045
1930    5043
1925    4312
1910    3585
Name: YEAR BUILT, dtype: int64

## Neuestes Gebäude

In [26]:
yearbuilt_new = rolling_sales_df["YEAR BUILT"].max()
print("Das neueste Gebäude wurde im Jahr", int(yearbuilt_new), "gebaut.")

Das neueste Gebäude wurde im Jahr 2017 gebaut.

In [27]:
yearbuilt2017 = len(rolling_sales_df[rolling_sales_df["YEAR BUILT"] == 2017])
print(yearbuilt2017)
print("2017 wurden", yearbuilt2017, "Gebäude errichtet.")

6
2017 wurden 6 Gebäude errichtet.

## Ältestes Gebäude

### Jahr 0 als NaN-Wert ausgeben

In [28]:
rolling_sales_df.loc[rolling_sales_df['YEAR BUILT'] == 0,:'YEAR BUILT'] = np.NaN

In [29]:
yearbuilt_old = rolling_sales_df["YEAR BUILT"].min()
print("Das älteste Gebäude wurde im Jahr", int(yearbuilt_old), "gebaut.")

# Sinnhaftigkeit ? Da NY erst 16xx erbaut --> Domi?

Das älteste Gebäude wurde im Jahr 1111 gebaut.

## Anzahl Gebäude 17. Jahrhundert

In [30]:
# komme hier nicht weiter :()

## Anzahl Gebäude 18. Jahrhundert

## Anzahl Gebäude 19. Jahrhundert

## Anzahl Gebäude 20. Jahrhundert

## Anzahl Gebäude 21. Jahrhundert

## Durschnitt des Baujahrs

In [31]:
rolling_sales_df.loc[rolling_sales_df['YEAR BUILT'] == 0,:'YEAR BUILT'] = np.NaN
yearbuilt_mean = rolling_sales_df['YEAR BUILT'].mean()
print("Das Durchschnittsbaujahr ist", int(yearbuilt_mean),".")

Das Durchschnittsbaujahr ist 1950 .

# Residential Units

In [32]:
# = Die Anzahl der Wohneinheiten auf dem gelisteten Grundstück. 

rolling_sales_df['RESIDENTIAL UNITS'] = rolling_sales_df['RESIDENTIAL UNITS'].replace(np.nan, 0)

residential = len(rolling_sales_df[rolling_sales_df["RESIDENTIAL UNITS"] == 0])
print(residential, "Verkäufe haben keine Anzahl der Wohneinheiten angegeben.")

28239 Verkäufe haben keine Anzahl der Wohneinheiten angegeben.

## Residential Units Max

In [33]:
rolling_sales_df.loc[rolling_sales_df['RESIDENTIAL UNITS'] == 0,:'RESIDENTIAL UNITS'] = np.NaN

residential_max = rolling_sales_df['RESIDENTIAL UNITS'].max(skipna=True)
print(int(residential_max))

1844

## Residential Units Min

In [34]:
rolling_sales_df.loc[rolling_sales_df['RESIDENTIAL UNITS'] == 0,:'RESIDENTIAL UNITS'] = np.NaN

residential_min = rolling_sales_df['RESIDENTIAL UNITS'].min(skipna=True)
print(int(residential_min))

1

## Residential Mean

In [35]:
rolling_sales_df.loc[rolling_sales_df['RESIDENTIAL UNITS'] == 0,:'RESIDENTIAL UNITS'] = np.NaN

residential_mean = rolling_sales_df['RESIDENTIAL UNITS'].mean()
print("Durchschnittlich sind", int(residential_mean), "Wohneinheiten auf einem Grundstück.")

Durchschnittlich sind 2 Wohneinheiten auf einem Grundstück.

## Wo gibt es die meisten Wohneinheiten je Grundstück?

In [36]:
residential_most = rolling_sales_df['RESIDENTIAL UNITS'].value_counts()
print(residential_most)
residential_grouped = rolling_sales_df.groupby(['BOROUGH']).sum()
del residential_grouped['LOT']
del residential_grouped['BLOCK']
del residential_grouped['ZIP CODE']
del residential_grouped['Unnamed: 0']
del residential_grouped['COMMERCIAL UNITS']
del residential_grouped['TOTAL UNITS']
del residential_grouped['YEAR BUILT']
del residential_grouped['TAX CLASS AT TIME OF SALE']
print(residential_grouped)


# wie bekomme ich hier Manhatten, Brooklyn, etc. zugeordnet zu 1, 2, 3, 4....?

1.0      31279
2.0      16047
3.0       4603
4.0       1346
6.0        787
         ...
948.0        1
75.0         1
164.0        1
369.0        1
135.0        1
Name: RESIDENTIAL UNITS, Length: 175, dtype: int64
         RESIDENTIAL UNITS
BOROUGH
1.0                40644.0
2.0                23857.0
3.0                47621.0
4.0                44972.0
5.0                10322.0

# Commercial Units

In [37]:
# = Die Anzahl der Gewerbeeinheiten auf dem gelisteten Grundstück. 

commercial = len(rolling_sales_df[rolling_sales_df["COMMERCIAL UNITS"] == 0])
print(commercial, "Verkäufe haben keine Anzahl der Gewerbeeinheiten angegeben.")

72486 Verkäufe haben keine Anzahl der Gewerbeeinheiten angegeben.

## Commercial Units Max

In [38]:
rolling_sales_df.loc[rolling_sales_df['COMMERCIAL UNITS'] == 0,:'COMMERCIAL UNITS'] = np.NaN

commercial_max = rolling_sales_df['COMMERCIAL UNITS'].max(skipna=True)
print(int(commercial_max))

2261

## Commercial Units Min

In [39]:
rolling_sales_df.loc[rolling_sales_df['COMMERCIAL UNITS'] == 0,:'COMMERCIAL UNITS'] = np.NaN

commercial_min = rolling_sales_df['COMMERCIAL UNITS'].min(skipna=True)
print(int(commercial_min))

1

## Commercial Units Mean

In [40]:
rolling_sales_df.loc[rolling_sales_df['COMMERCIAL UNITS'] == 0,:'COMMERCIAL UNITS'] = np.NaN

commercial_mean = rolling_sales_df['COMMERCIAL UNITS'].mean()
print("Durchschnittlich sind", int(commercial_mean), "Gewerbeeinheiten auf einem Grundstück.")

Durchschnittlich sind 3 Gewerbeeinheiten auf einem Grundstück.

## Wo gibt es die meisten Gewerbeeinheiten je Grundstück?

In [41]:
commercial_most = rolling_sales_df['COMMERCIAL UNITS'].value_counts()
print(commercial_most)
commercial_grouped = rolling_sales_df.groupby(['BOROUGH']).sum()
del commercial_grouped['LOT']
del commercial_grouped['BLOCK']
del commercial_grouped['ZIP CODE']
del commercial_grouped['Unnamed: 0']
del commercial_grouped['COMMERCIAL UNITS']
del commercial_grouped['TOTAL UNITS']
del commercial_grouped['YEAR BUILT']
del commercial_grouped['TAX CLASS AT TIME OF SALE']
print(commercial_grouped)


# wie bekomme ich hier Manhatten, Brooklyn, etc. zugeordnet zu 1, 2, 3, 4....?

1.0       3532
2.0        817
3.0        259
4.0        137
5.0         74
6.0         70
7.0         31
8.0         26
9.0         20
10.0        17
12.0        12
15.0        11
11.0         9
14.0         6
17.0         6
20.0         4
35.0         4
254.0        4
13.0         4
18.0         3
22.0         3
42.0         3
19.0         3
25.0         2
26.0         2
16.0         2
422.0        2
126.0        2
436.0        2
172.0        1
56.0         1
21.0         1
55.0         1
32.0         1
38.0         1
52.0         1
49.0         1
67.0         1
59.0         1
62.0         1
24.0         1
318.0        1
31.0         1
34.0         1
91.0         1
51.0         1
28.0         1
2261.0       1
147.0        1
30.0         1
23.0         1
27.0         1
73.0         1
184.0        1
Name: COMMERCIAL UNITS, dtype: int64
         RESIDENTIAL UNITS
BOROUGH
1.0                15696.0
2.0                 5726.0
3.0                 5418.0
4.0                 7496.0
5.0                  218.0